<summary>Navigation</summary>
<div class="container">
  <select id="card-focus">
  {% for period in periods %}
    <option value="period-{{period.id}}">
      <strong>Period {{ period.place }}</strong>
    </option>
    {% if period.events|length > 0 %}
      {% for event in period.events %}
        <option value="event-{{event.id}}">-- Event {{event.place}}</option>
      {% endfor %}
    {% endif %}
  {% endfor %}
  </select>
</div>
