<summary>Navigation</summary>
<div class="container">
  <select class="periods">
  {% for period in periods %}
    <option value="{{ period.id }}">Period {{ period.place }}</option>
  {% endfor %}
  </select>
  
  <!-- On initial load build the events dropdown for the first period -->
  {% if periods[0].events|length > 0 %}
  <select class="events">
    {% for event in periods[0].events %}
      <option value="{{ event.id }}">Event {{ event.place }}</option>
    {% endfor %}
  </select>
  {% endif %}
</div>
