{% for period in periods %}
  <!-- The events container will hold all the events belonging to this period -->
  <div class="events container-padding" data-period-place="{{ period.place }}" data-period-id="{{ period.id }}">
    <!-- The card will hold the actual period container-padding... -->
    <div class="period card">
      <p>{{ period.description }}</p>
      <span>{{ period.tone.value }}
    </div>
  </div>
{% endfor %}