{% for player in players %}
  <div class="{{ player.active is empty ? ' inactive' : '' }}">
    <h3>{{ player.name }}</h3>
    {% if player.legacy and player.active %}
      <br>
      <span class="legacy">{{ player.legacy }}</span>
    {% endif %}
  </div>
{% endfor %}