.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.container-padding {
  border: black 1px solid;
  padding: 5px;
}

h3 {
  margin: 0;
}

.inactive {
  font-style: italic;
  color: grey;
}

.nowrap {
  flex-wrap: nowrap;
  overflow: scroll;
}

/**
 * Common class for Periods, Events and Scenes.
 * - Always keep same dimensions (based on viewport)
 * - Hide overflow but on hover scroll to show all text...
 */
.card {
  border: black 1px solid;
  height: 260px;
  width: 200px;
}

.turned-card {
  border: black 1px solid;
  height: 200px;
  width: 260px;
}

.card p,
.turned-card p {
  max-height: calc(100% * 3/4);
  overflow: hidden;
  text-overflow: ellipsis;
}

.card p:hover,
.turned-card p:hover {
  overflow: scroll;
}

.event {
  margin-top: 5px;
}

.events {
  flex: 1 0 300px;
}