.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.container-padding {
  border: black 1px solid;
  padding: 5px;
}

h3 {
  margin: 0;
}

.inactive {
  font-style: italic;
  color: grey;
}

.nowrap {
  flex-wrap: nowrap;
  overflow: scroll;
}

/** Container for periods, events and scenes. */
.card {

}

.events {
  flex: 1 0 200px;
}