{% extends 'base.html.twig' %}

{% block title %}Hello History {{ history.id }} {% endblock %}

{% block body %}
  <!-- Top Container -->
  <div class="container">
    <div class="history container-padding">
      <h2>History container-paddingrmation</h2>
      <div class="container">
        <div>
          <span><strong>Seed:</strong> {{ history.description }}</span>
          {% if history.focus is not empty %}
          <br><br>
          <span><strong>Focus:</strong> {{history.focus }}</span>
          {% endif %}
        </div>

        {% if history.excluded is not empty or history.included is not empty %}
        <div>
          <h3>Palette</h3>
          <hr>
          <div class="container">
            {% include "partials/palette.html.twig" with { title: 'Excluded', items: history.excluded } %}
            {% include "partials/palette.html.twig" with { title: 'Included', items: history.included } %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="player container-padding">
      <h2>Player container-padding</h2>
      <div class="container">
      {% include "partials/players.html.twig" with { players: history.players } %}
      </div>
    </div>
  </div>
  <div class="container">
    {% include "partials/periods.html.twig" with { periods: history.periods } %}
  </div>
{% endblock %}
