{% extends 'base.html.twig' %}

{% block title %}Hello History {{ history.id }} {% endblock %}

{% block body %}
  <!-- Top Container -->
  <div class="container">
    <details class="navigation padded-border align-start">
      {% include "partials/navigation.html.twig" with { periods: history.periods } %}
    </details>
    <details class="history padded-border align-start">
      <summary>History Information</summary>
      <div class="container">
        <div>
          <span><strong>Seed:</strong> {{ history.description }}</span>
          {% if history.focus is not empty %}
          <br><br>
          <span><strong>Focus:</strong> {{history.focus }}</span>
          {% endif %}
        </div>

        {% if history.excluded is not empty or history.included is not empty %}
        <div>
          <h3>Palette</h3>
          <hr>
          <div class="container">
            {% include "partials/palette.html.twig" with { title: 'Excluded', items: history.excluded } %}
            {% include "partials/palette.html.twig" with { title: 'Included', items: history.included } %}
          </div>
        </div>
        {% endif %}
      </div>
    </details>
    <details class="players padded-border align-start">
      <summary>Player Information</summary>
      <div class="container">
      {% include "partials/players.html.twig" with { players: history.players } %}
      </div>
    </details>
  </div>
  <div class="container nowrap">
    {% for period in history.periods %}
      {% include "partials/period.html.twig" with { period: period, numScenesByEvent: numScenesByEvent } %}
    {% endfor %}
  </div>
{% endblock %}
