{#
  Renders the entire page for a history.

  Variables:
  * history - The history entity for this game.
  * numScenesByEvent - The number of scenes that are within each event in this history.
#}

{% extends 'base.html.twig' %}

{% block title %}Hello History {{ history.id }} {% endblock %}

{% block body %}
  <!-- Top Container -->
  <div id="information" class="container">
    <details class="history padded-border align-start">
      <summary>History Information</summary>
      <div class="container">
        <div>
          <span><strong>Seed:</strong> {{ history.description }}</span>
          {% if history.focus is not empty %}
          <br><br>
          <span><strong>Focus:</strong> {{history.focus }}</span>
          {% endif %}
        </div>

        {% if history.excluded is not empty or history.included is not empty %}
        <div>
          <h3>Palette</h3>
          <hr>
          <div class="container">
            {% include "history/palette.html.twig" with { title: 'Excluded', items: history.excluded } %}
            {% include "history/palette.html.twig" with { title: 'Included', items: history.included } %}
          </div>
        </div>
        {% endif %}
      </div>
    </details>
    <details class="players padded-border align-start">
      <summary>Player Information</summary>
      <div class="container">
      {% include "history/players.html.twig" with { players: history.players } %}
      </div>
    </details>
  </div>
  <div class="nav-arrow left"><</div>
  <div id="board" class="container nowrap">
    {% include "history/board.html.twig" with { periods: history.periods, numScenesByEvent: numScenesByEvent, parentId: history.id } %}
  </div>
  <div class="nav-arrow right">></div>
  <div id="term-dialog" class="backdrop hidden"></div>
{% endblock %}
