{#
  Renders all items in a excluded/included palette for target history.

  Variables:
  * items - The items in this palette.
#}

{% if items is not empty %}
<div>
	<span>
		<strong>{{ title }}</strong>
	</span>
	{% include "common/list.html.twig" with { items } %}
</div>
{% endif %}
