{#
  Renders player information for a target history.

  Variables:
  * players - A list of Player entities.
#}

<ul class="players-list">
{% for player in players %}
  <li>
    <h3 {% if not player.active %} class="inactive" {% endif %}>{{ player.name }}</h3>
    {% if player.legacy and player.active %}
      <ul>
        <li>{{ player.legacy }}</li>
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>